/**
 * @file
 * Admin styles for the Lingotek Audit module.
 */

/* Headers */
.multilingual-audit tr.multilingual-audit-subcategory {
  font-weight: 800;
  font-size: 100%;
  text-transform: uppercase;
  background: #fcfcfa;
  border-bottom: 0;
  line-height: 15px;
}

.multilingual-audit tr.multilingual-audit-subcategory-description {
  background: #fcfcfa;
  line-height: 12px;
}


/* Icons */
.multilingual-audit .icon,
.multilingual-audit .multilingual-audit-warning .icon,
.multilingual-audit .multilingual-audit-info .icon,
.multilingual-audit .multilingual-audit-ok .icon,
.multilingual-audit .multilingual-audit-error .icon,
.multilingual-audit .multilingual-audit-critical .icon,
.multilingual-audit .multilingual-audit-alert .icon,
.multilingual-audit .multilingual-audit-emergency .icon {
  width: 16px;
  background: no-repeat center;
}
.multilingual-audit .multilingual-audit-ok .icon {
  background-image: url(../../../../core/misc/icons/73b355/check.svg);
}

.multilingual-audit .multilingual-audit-info .icon,
.multilingual-audit .multilingual-audit-warning .icon {
  background-image: url(../../../../core/misc/icons/e29700/warning.svg);
}
.multilingual-audit .multilingual-audit-error .icon,
.multilingual-audit .multilingual-audit-critical .icon,
.multilingual-audit .multilingual-audit-alert .icon,
.multilingual-audit .multilingual-audit-emergency .icon {
  background-image: url(../../../../core/misc/icons/e32700/error.svg);
}

/* UL styles are over-scoped in core, so this selector needs weight parity. */
ul.suggested-actions-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
ul.suggested-actions-list li,
ul.suggested-actions-list a {
  display: block;
  outline: none;
}
